body {
  margin: 0 !important; 
}

#page-wrapper {
	background-image: url('../images/gitlanding.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	padding-top: 0;
	transition: opacity 0.5s ease;
	opacity: 1;
}

#banner {
	width: 100%;
	height: 100vh;

	.wrapper {
		width: 80%;
		margin: auto;
		position: relative;
		top: 100px;

		@include respond(to($size-medium)) {
			top: 100px;
		}

		@include respond(to($size-tablet)) {
			@include respond($landscape) {
				top: 50px;
			}
		}

		@include respond(to($size-mini)) {
			top: 20px;
		}

		.title {
			color: colors(white);
			display: block;
		    margin: auto;
		    text-align: center;
		    font-family: Helvetica Neue;
		    font-weight: 100;
		    font-size: 65px;
		    letter-spacing: 5px;
		    padding-bottom: 5%;

		    @include respond(to($size-mobile)) {
		    	//margin-bottom: 150px;
		    	font-size: 50px;
		    }

		    @include respond(to($size-mini)) {
		    	font-size: 40px;
		    	padding-top: 50px;
		    	//margin-bottom: 100px;
		    }
		}

		.logos {
			width: 100%;
			text-align: center;

			img {
				display: inline-block;
				height: 200px;

				@include respond(to($size-tablet)) {
					height: 160px;

					@include respond($landscape) {
						height: 120px;
					}
				}

				@include respond(to($size-mini)) {
					height: 140px;
				}
			}
		}


		.fleche {
			   position: relative;
		    display: block;
		    width: 200px;
		    margin: auto;
		    top: 60px;
		    font-family: Helvetica Neue;
		    font-weight: 200;
		    font-size: 30px;
		    color: white;
		    text-decoration: none;
		    text-align: center;

		    @include respond(to($size-tablet)) {
		    	display: none;
		    }

			span {
				padding-bottom: 20px;
				display: block;
			}

			img {
				margin: auto;
				display: block;
			}
		}

	}
}

.section {
	width: 100%;
	position: relative;
	//background-color: #2e3842;
	background-color: colors(white);
	padding: 80px 0;

	.wrapper {
		background-color: white;
		width: 80%;
		margin: auto;
		padding: 10%;

		.title {
		    text-align: left;
		    font-family: Helvetica Neue;
		    font-weight: 200;
		    font-size: 38px;
		    text-transform: uppercase;
		    letter-spacing: 8px;

		    @include respond(to($size-mobile)) {
		    	font-size: 30px;
		    	letter-spacing: 4px;
		    }

		    @include respond(to($size-mini)) {
		    	font-size: 24px;
		    	letter-spacing: 2px;
		    }
		}
		.text {
	    	font-size: 18px;
	    	font-family: Helvetica Neue;
	    	font-weight: 200;
	    	letter-spacing: 2px;
	    	
	    	@include respond(to($size-mobile)) {
	    		font-size: 15px;
	    	}

	    	@include respond(to($size-mini)) {
		    	font-size: 12px;
		    }

		    img {
		    	max-width: 95%;
		    	border: 1px solid lightgrey;
		    }

		    p {
		    	position: relative;

		    	ul, ol {
		    		list-style-type: square;
		    	}
		    }
	    }
	}
}

.cta {
	text-decoration: none;
    border: 1px solid #21b2a6;
    color: #21b2a6;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.2s ease;
    top: 0;
    right: 0;
    letter-spacing: 4px;
    max-width: 30%;

    &.next,
    &.prev {
	    @include respond(to($size-tablet)) {
	    	position: relative;
	    	width: 80%;
	    	max-width: none;
	    	text-align: center;
	    	display: block;
	    	margin: auto;
	    }
	}

    @include respond(to($size-mini)) {
    	font-size: 16px;
    	padding: 15px;
    	left: 0;
    	text-align: center;
    }

    &:hover {
    	background-color: #21b2a6;
    	color: colors(white) !important;
    }

	&.next {
		right: 10%;
		color: white;
		background-color: #21b2a6;

		@include respond(to($size-tablet)) {
			right: auto;
		}
	}

	&.prev {
		left: 10%;
		right: auto;

		@include respond(to($size-tablet)) {
			left: auto;
			margin-bottom: 20px;
		}
	}
}